.card {
    background: rgb(241, 196, 166);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.card-header
{
    background-color: #dc4d4d;
    color: rgb(252, 252, 252);
    text-align: center;
    border-radius: 10px;
}
.card-img
{
    width: 100%;
    height: 30vh;
    margin: 3% 0%;
    
}
.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card-controls
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 5vh;
}
.card-day
{
    color: #c10808;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-controls button {
    background:  #dc4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s,scale 0.3s;
}

.card-controls button:hover {
    background: #ff1e00;
    scale: 1.05;
}
.unlimited
{
    height: 5vh;
}
.unlimited img
{
    height: 100%;
    width: 50%;
}
/* .card:hover
{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
} */