.dinner1
{
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2vh;
}
.dinner1-header {
    font-size: 2vw;
    text-align: center;
}
.dinner1-bdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
.card-container {
    /* imported from breakfast1.css */
}
.dinner1-footer button {
    padding: 10px 20px;
    font-size: 16px;
    background: rgb(214, 137, 85);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease,scale 0.2s ease;
    margin: 2% 0%;
}
.dinner1-footer button:hover {
    background-color: #ff0000;
    scale: 1.05;
}
