#profile-corner
{
    display: flex;
    align-items:end;
    column-gap: 1vw;
}
#profile-corner img
{
    height: 8vh;
    width: 4vw;
    border-radius: 100%;
    margin-left: 1vw;
}
#profile-corner span
{
    font-size: 4vh;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
}
.profile {
    padding: .5%;
    display: grid;
    grid-template-columns: auto auto ;
    justify-content:space-between;
}

.cart
{
    display: flex;
    margin-right: 1vw;
    gap: 2vh;

}
.cart-icon
{
    height: 6vh;
    width: 3vw;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    transition: scale 0.3s,baground-color 0.3s;
;
    
}
.cart-icon img{
    height:100%;
    width: 100%;
}

.cart-icon:hover{
    scale:1.05; 
    background-color: aliceblue;  
}
.back-arrow
{
    cursor: pointer;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    transition: scale 0.3s,baground-color 0.3s;
    margin: 10px;
    border-radius: 10px;
    height: 2vh;
    width: 2vh;
}
.back-arrow:hover
{
    scale:1.10; 
    
    background-color: rgb(121, 33, 4); 
    color: white; 
}