.snacks1
{
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2vh;
}
.snacks1-header {
    font-size: 2vw;
    text-align: center;
}
.snacks1-bdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
.card-container {
   
}
.snacks1-footer button {
    padding: 10px 20px;
    font-size: 16px;
    background: rgb(214, 137, 85);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease,scale 0.2s ease;
    margin: 2% 0%;
}
.snacks1-footer button:hover {
    background: #ff1e00;
    scale: 1.05;
}
