.snacks1
{
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2vh;
}
.snacks1-header {
    font-size: 2vw;
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.snacks1-footer button {
    background-color: #dc4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, scale 0.1s;
}
.snacks1-footer button:hover {
    background: #ff1e00;
    scale: 1.05;
}
